In [26]:
import pandas as pd
from splinter import Browser
from bs4 import BeautifulSoup as bs
from webdriver_manager.chrome import ChromeDriverManager
from datetime import datetime
import os
import time

In [27]:
# Setup splinter
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

[WDM] - Current google-chrome version is 88.0.4324
[WDM] - Get LATEST driver version for 88.0.4324
[WDM] - Driver [/Users/GHWIC/.wdm/drivers/chromedriver/mac64/88.0.4324.96/chromedriver] found in cache

## NASA Mars News

In [28]:
# NASA news url 
url = "https://mars.nasa.gov/news/"
browser.visit(url)

In [29]:
# Parse with Beautiful Soup
html = browser.html
soup = bs(html, 'html.parser')

In [30]:
# collect the latest News Title and Paragraph Text. Assign the text 
# to the variables that you can reference later. 
news_title = soup.find('ul', class_='item_list')
news_title = news_title.find('div', class_='content_title').text
news_p = soup.find('div', class_='article_teaser_body').text
print(f"Title: {news_title}")
print(f"Paragraph: {news_p}")

Title: Tricky Terrain: Helping to Assure a Safe Rover Landing
Paragraph: How two new technologies will help Perseverance, NASA’s most sophisticated rover yet, touch down onto the surface of Mars this month.

## JPL Mars Space Images

In [31]:
# JPL url
jpl_image_url = "https://webcache.googleusercontent.com/search?q=cache:gFCwbhsgFQsJ:https://www.jpl.nasa.gov/images/+&cd=1&hl=en&ct=clnk&gl=us"
browser.visit(jpl_image_url)

In [32]:
# parse with bs
jpl_html = browser.html
jpl_soup = bs(jpl_html, 'html.parser')
#print(jpl_soup.prettify())

In [33]:
# Find jpl image url to the full size
jpl_soup = jpl_soup.find('div', class_='sm:object-cover object-cover')
featured_image_url = jpl_soup.find('img').get('src')
print(featured_image_url)
                          
# the original url is not working and a cache link was provided, but it is not providing the output of images.

https://d2pn8kiwq2w21t.cloudfront.net/images/jpegPIA24396.2e16d0ba.fill-400x400-c50.jpg

## Mars Facts

In [34]:
# visit the Mars Facts url and use Pandas to scrape the table 
mars_url = 'https://space-facts.com/mars/'
browser.visit(mars_url)

# Use Pandas pd.read_html - to scrape table data from url
mars_facts_table = pd.read_html(mars_url)[0]
print(mars_facts_table)

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [35]:
# Find the mars facts DataFrame in the list
mars_df = mars_facts_table
mars_df

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [36]:
# Create columns named Description and Value
mars_df.columns = ["Description", "Value"]
mars_df

            Description                          Value
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [37]:
# Set index to Description
mars_df.set_index("Description", inplace=True)
mars_df

                                              Value
Description
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.39 × 10^23 kg (0.11 Earths)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.38 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                   -87 to -5 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

In [38]:
html_table = mars_df.to_html()
print(html_table)

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Value</th>
    </tr>
    <tr>
      <th>Description</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>Equatorial Diameter:</th>
      <td>6,792 km</td>
    </tr>
    <tr>
      <th>Polar Diameter:</th>
      <td>6,752 km</td>
    </tr>
    <tr>
      <th>Mass:</th>
      <td>6.39 × 10^23 kg (0.11 Earths)</td>
    </tr>
    <tr>
      <th>Moons:</th>
      <td>2 (Phobos &amp; Deimos)</td>
    </tr>
    <tr>
      <th>Orbit Distance:</th>
      <td>227,943,824 km (1.38 AU)</td>
    </tr>
    <tr>
      <th>Orbit Period:</th>
      <td>687 days (1.9 years)</td>
    </tr>
    <tr>
      <th>Surface Temperature:</th>
      <td>-87 to -5 °C</td>
    </tr>
    <tr>
      <th>First Record:</th>
      <td>2nd millennium BC</td>
    </tr>
    <tr>
      <th>Recorded By:</th>
      <td>Egyptian astronomers</td>
    </tr>
  </tbody>
</table>

In [40]:
html_table = html_table.replace('\n', '')
html_table

'<table border="1" class="dataframe">  <thead>    <tr style="text-align: right;">      <th></th>      <th>Value</th>    </tr>    <tr>      <th>Description</th>      <th></th>    </tr>  </thead>  <tbody>    <tr>      <th>Equatorial Diameter:</th>      <td>6,792 km</td>    </tr>    <tr>      <th>Polar Diameter:</th>      <td>6,752 km</td>    </tr>    <tr>      <th>Mass:</th>      <td>6.39 × 10^23 kg (0.11 Earths)</td>    </tr>    <tr>      <th>Moons:</th>      <td>2 (Phobos &amp; Deimos)</td>    </tr>    <tr>      <th>Orbit Distance:</th>      <td>227,943,824 km (1.38 AU)</td>    </tr>    <tr>      <th>Orbit Period:</th>      <td>687 days (1.9 years)</td>    </tr>    <tr>      <th>Surface Temperature:</th>      <td>-87 to -5 °C</td>    </tr>    <tr>      <th>First Record:</th>      <td>2nd millennium BC</td>    </tr>    <tr>      <th>Recorded By:</th>      <td>Egyptian astronomers</td>    </tr>  </tbody></table>'

## Mars Hemispheres

In [54]:
# Visit url to scrape
usgs_url = 'https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars'
browser.visit(usgs_url)
soup = bs(usgs_html,'html.parser')

In [55]:
# Parse hemispheres
hemispheres = browser.find_by_tag('h3')

In [59]:
# Store the main url
main_url = usgs_url

hemi_urls = []

# Loop through the list of all hemispheres information
for i in range(len(hemispheres)):
    
        hemi = {}
        browser.find_by_css('h3')[i].click()
        
        # Store title
        hemi['title'] = browser.find_by_css('h2.title').text
        
        # Store the image url amd visit url
        hemi['img'] = browser.links.find_by_text('Sample')['href']

        hemi_urls.append(hemi)
        browser.back()

In [60]:
print(hemi_urls)

[{'title': 'Cerberus Hemisphere Enhanced', 'img': 'https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/cerberus_enhanced.tif/full.jpg'}, {'title': 'Schiaparelli Hemisphere Enhanced', 'img': 'https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/schiaparelli_enhanced.tif/full.jpg'}, {'title': 'Syrtis Major Hemisphere Enhanced', 'img': 'https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/syrtis_major_enhanced.tif/full.jpg'}, {'title': 'Valles Marineris Hemisphere Enhanced', 'img': 'https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/valles_marineris_enhanced.tif/full.jpg'}]